<div class="containerMain">
  <mat-card class="mat-elevation-z8">
    <mat-card-title>Registro de Aprendiz</mat-card-title>
    <mat-card-content>
      <form [formGroup]="FormPersona" (ngSubmit)="CrearPersona()">
        <mat-form-field appearance="outline">
          <mat-label>Documento</mat-label>
          <input
            type="number"
            matInput
            placeholder="Documento"
            formControlName="Documento"
          />
          <mat-icon matSuffix>credit_card</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nombres</mat-label>
          <input
            type="text"
            matInput
            placeholder="Nombres"
            formControlName="Nombres"
          />
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Primer Apellido</mat-label>
          <input
            type="text"
            matInput
            placeholder="Primer Apellido"
            formControlName="P_Apellido"
          />
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Segundo Apellido</mat-label>
          <input
            type="text"
            matInput
            placeholder="Segundo Apellido"
            formControlName="S_Apellido"
          />
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>

        <div class="btn">
          <button mat-button color="primary" [disabled]="!FormPersona.valid">
            Registrar
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
