<div class="containerMain">
    <mat-card class="mat-elevation-z8">
      <mat-card-title>Registro de Usuario</mat-card-title>
      <mat-card-content>
        <form [formGroup]="FormUsuario">
          <mat-form-field appearance="outline">
            <mat-label>Documento</mat-label>
            <input
              type="number"
              matInput
              placeholder="Documento"
              formControlName="Documento"
            />
            <mat-icon matSuffix>credit_card</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Nombres</mat-label>
            <input
              type="text"
              matInput
              placeholder="Nombres"
              formControlName="NombreP"
            />
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="Contraseña"
              formControlName="Password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <div class="btn">
            <button type="submit" (click)="CrearUsuario()" mat-button color="primary" [disabled]="!FormUsuario.valid">
              Registrar
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  