.foto {
    height: 80px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 12%, 100% 12%, 100% 90%, 0 89%);
    margin-top: -5px;
    margin-bottom: -12px;
}